.List-item {
  background-color: white;
  padding-top: 0.525rem;
  padding-bottom: 0.525rem;
  padding-left: 1.25rem;
  padding-right: 3.125rem;
  border: 1px solid #eee;
}

.List-container {
  max-height: 12.5rem;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 5px 10px 6px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 5px 10px 6px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 5px 10px 6px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  width: 100%;
  z-index: 999;
}

.List-block {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.Search-text {
  background-color: white;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.32rem;
  font-size: 0.8rem;
  width: calc(100% - 0.88rem);
  border: 1px solid #d2cccc;
}

.Main-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1.25rem;
  margin-bottom: 5rem;
}

.Cards-list-responsive {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.List-relative {
  position: relative;
}

.Cards-load-error {
  text-align: center;
  justify-content: center;
  align-self: center;
  height: 50vh;
  flex-direction: column;
  display: flex;
}

li { 
  cursor: pointer; 
}

.Highlight {
  color: #00c5f7;
}